body{
    margin: 0;
}

.Navbar{
    height: 4rem;
    position: relative;
}

.nav2{
    background-color:#F5F5F5;
    height: 3rem;
    width: 25rem;
    position: absolute;
    left: 24rem;
    top: 1.5rem;
    border-radius: 35px;
}

ul{
    list-style-type: none;
    margin: 20px;
    padding-top: 15px;
    padding-right: 10rem;
    text-align: center;
}

li{
    display: inline;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;     
}

a{
    text-decoration: none;
    color: black;   
}

.brand{
    height: 50px;
    width: 180px;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.login{
    position: absolute;
    right: 13rem;
    border: none;
    background-color: #EFEFEF;
    height: 2rem;
    width: 6rem;
    font-size: 15px;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
}

.signup{
    position: absolute;
    right: 6rem;
    border: none;
    background-color: #EFEFEF;
    height: 2rem;
    width: 6rem;
    font-size: 15px;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;

}

.Hostel_1{
    margin-top: 2.5rem;
    opacity: 0.6;
    position: absolute;
}

.color{
    background-color: #242329;
    height : 26rem;
    width: 27rem;
    position: absolute;
    right: 4.5rem;
    top: 10rem;
    border-radius: 20px;
}

.hostel2{
    background-color: #242329;
    height: 37rem;
    margin: 37rem 1.5rem 4rem 1.5rem;
    border-radius: 20px;
}

.hostel2 h1{
    text-align: center;
    color: white;
    font-family:'Poppins', sans-serif ;
    font-size: 30px;
    padding-top: 2rem;
}

.hostels{
    height: 14rem;
    width: 19rem;
    position: relative;
}

.hos1{
    padding-left: 2rem;
    bottom: 2rem;
    left: 2rem;
}

.hos2 , .hos3{
    top: 15rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.hos4{
    bottom: 16rem;
    left: 50rem;
    padding-left: 4rem;
}

.messMain{
    margin-bottom: 2rem;
    width: 50rem;
    height: 35rem;
    margin-left: 1rem;
    border-radius: 20px;
}

.mess h1{
    position: absolute;
    right: 9rem;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700px;
}

.mess1img{
    height: 11rem;
    width: 19rem;
    position: absolute;
    left: 53rem;    
    top: 90rem;
}

.mess2img{
    height: 15rem;
    width: 10rem;
    position: absolute;
    top: 103rem;
    left: 60rem;
}


